<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Bootstrap CSS -->
        <link href="/stylesheets/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css"> 
        <title> hatmaz </title>
    </head>
    <body>
        <% if(session.user_id & role_id == 1) { %>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <div class="container-fluid">
                    <a class="navbar-brand" href="/logout">התנתק</a>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto  mb-2 mb-lg-0">
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/welcom">דף הבית</a>
                                </li>
                                <% if(role_id == 1) { %>
                                <li class="nav-item">
                                    <a class="nav-link text-white" aria-current="page" href="#">תרגילים</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="#">משתמשים</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link text-white" href="/add_user"> הוסף משתמש </a>
                                </li>
                                <% } %>
                            </ul>
                    </div>
                </div>
            </nav>    
            <div class="container">
                <h1 class="mt-5 mb-5 text-center text-primary"><b> הוספת משתמש חדש </b></h1>
    
                <div class="row mt-5">
                    <div class="col-md-3">&nbsp;</div>
                    <div class="col-md-6">
                        <div class="card" dir="rtl">
                            <div class="card-header"> טופס הוספת משתמש </div>
                            <div class="card-body">
                                <form method="post" action="add_user">
                                    <div class="mb-3">
                                        <label> שם משתמש באנגלית </label>
                                        <input type="text" name="user_name" class="form-control" required/>
                                    </div>
                                    <div class="mb-3">
                                        <label> סיסמה </label>
                                        <input type="password" name="user_password" class="form-control" required/>
                                    </div>
                                    <div class="mb-3">
                                        <label> הרשאות </label>
                                        <select class="form-select" name="user_role" aria-label="Default select example" required>
                                            <option > </option>
                                            <option value="2">משתמש</option>
                                            <option value="1">מנהל</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label> שם משתמש בעברית </label>
                                        <input type="text" name="user_hebrow_name" class="form-control" required/>
                                    </div>
                                    <div class="mb-3 text-center">
                                        <input type="submit" class="btn btn-primary formEditAdd_bth" value="הוספה" />
                                        <a href="/welcom"> <input  class="btn btn-primary formEditAdd_bth" value="ביטול" /> </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% } else { %>
                <h1> אתה לא מחובר </h1>
            <% } %>
    </body>
</html>
