<!doctype html>
<html lang="en" dir="rtl">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap CSS -->
        <link href="/stylesheets/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css"> 
        <title> Google sadin </title>
    </head>

    <body>
        <div class="container">
            <div id="googleimg">
                <h2 class="google-logo">ס<span style="color: #ea4335">ד</span><span style="color: #fbbc05">י</span><span style="color: #34a853; margin-left:15px;">ן</span>    ד<span style="color: #ea4335">ג</span><span style="color: #fbbc05">י</span><span style="color: #34a853">ט</span>ל<span style="color: #ea4335">י</h2>
            </div>
            <!-- Search bar -->
            <form id="searchForm" method="post" action="/user_search">
                <input id="inputspan" type="text" name="search_value" placeholder="אפשר להקליד שאלה או נושא לחיפוש" required><br>
            </form>
            <% for(var i = 0; i < results.length; i++) { %>
                <div class="col-md-4 text-center">
                    <div class="card card-01">
                        <div class="card-body">
                            <p> <%= results[i].question %></p>
                            <pre class="card-title"> <%= results[i].answer %> </pre>
                            <a href="<%=results[i].some_link %> "> </a>
                        </div>
                    </div>
                </div>
            <% } %>  
        </div>

        <script>
            const searchInput = document.getElementById('inputspan');
            const searchForm = document.getElementById('searchForm');
    
            searchInput.addEventListener('keydown', function(event) {
                if (event.key === 'Enter') {
                    if(searchInput.val() != ''){
                    event.preventDefault(); // Prevent default form submission
                    searchForm.submit(); // Submit the form
                    }
                }
            });
        </script>
    </body>
</html>
